.clock-container
{

    margin-left:10px;
    align-items: center; 
    font-size: 42px;   
    font-weight: bold;
    color: white;  
    
    
}
.clock-time
{
    font-weight:bold;
    
}